.tour-card {
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
  width: 100%;
}

.tour-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.tour-card-content {
  padding: 1.5rem;
}

.tour-card h3 {
  font-size: 24px;
  color: #E2725C;
}

.tour-detail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.4rem 0;
}

.tour-detail i {
  color: #e2725c;
  font-size: 1.1rem;
}

.tour-price {
  font-family: 'Abril Fatface', serif;
  font-weight: 900;
  font-size: 1.4rem;
  margin: 1rem 0;
}